.content {
  display: flex;
  justify-content: center;
}

form {
  padding: 0 50px 20px 50px;
  justify-content: center;
  width: 600px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 10px;
}

.timedown {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

h1 {
  text-align: center;
  width: 690px;
}

table {
  border: 1px solid black;
}

table thead {
  background-color: rgb(200, 200, 200);
  font-weight: bold;
  text-align: center;
}

table tbody {
  background-color: rgb(255, 122, 81);
}

